*{
    padding:0px;
    margin:0px;
}

/*  HEADER */
header{
    background-color: #40a3a8;
    position:fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.logoMenuP nav{
    display:block;

}
#btn-menu{
    display:none;
}
header label{ 
    display:none;
    width: 30px;
    height: 30px;
    padding: 10px;
    
}
header label:hover{
    cursor:pointer;
    background-color: #84cbcf;
}
header img{
    width: 30px;
    
}
.menu ul{
    margin:0;
    list-style: none;
    padding:0;
    display:flex;
}
.menu li{
    
}
.menu li:hover{
    background-color: #84cbcf;
}
.menu li a{
    display:block;
    padding:15px 20px;
    text-decoration: none;
}
@media (max-width:768px){
    header label{
        display:block;
    }
    .menu {
        position:absolute;
        background: #40a3a8;
        width: 30%;
        margin-right: -30%;
        margin-top: 50px;
        transition:all 0.5s;
        
    }
    .menu ul{
        flex-direction: column;    
    }
    .menu li{
        border-bottom: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin:0;
        margin-top: 50px;
    }

    
}

.SeccionesMenuP{
    margin:0;
    padding: 0;
    display:flex;
    
}
.LogoMenuP p{
    color:white;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;   
}
.LogoMenuP {
    display:flex;
    align-items: center;;
}
.LogoMenuP img{
    height:70px;
}

header a{
    color:white;
    text-decoration: none;
    padding-right: 1em;
}

/* FOOTER */
footer{
    background-color: #40a3a8;
    
}
.footcontainer{
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
     
    
}
.footcontainer section{
    padding: 3em;
    display: flex;
    flex-grow: 3;
}
.footcontainer section ul{
    padding-right: 3em;
}
.footcontainer section:first-child{
    padding:0;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    border-right: 1px solid #70b2b5;
    
}
.footcontainer section:last-child{
    flex-grow: 1;
    display:flex;
    justify-content: center;
    border-left: 1px solid #70b2b5;
}
.logo{
    flex-grow: 1;

}
.Logo div{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 1;

}
.logo div p{
    font-family: "Lobster Two", cursive;
    text-align: center;
    color:antiquewhite;
    font-size:xx-large;
}

.columnas div ul{
    list-style-type:square;
    
    
}
.columnas div ul li a{
    text-decoration: none;
    color:antiquewhite;
}

.rrss {
    
    display:flex;
    justify-content: center;
    flex-grow: 1;
    
}
.rrss a{  
    margin:0;
    padding: 0;
}
.rrss img{
    height:30px;
    padding: 10px;
}
.copyright{
    color: #84cbcf;
    text-align: center;
    padding-top: 30px;
    padding-bottom:20px;
    
}
