
/* MAIN */

.Jumbotron{
    
    display:flex; 
    flex-wrap: wrap;
    background-color: #e7c497;
    color:white;
    padding-top: 60px;
    

}
.Registro{
    
    display:flex; 
    flex-wrap: wrap;
    background-color: rgb(235, 211, 200);
    color:white;
    
    
}
.Presentacion{
    flex-grow: 8;
    background-color:#e7c497;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 50px 0px;

}
.ContenedorP{
    
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
}
.Eslogan{
    padding-bottom: 32px;
}
.Eslogan h1 ,form{
    padding-bottom: 8px;
}
.Eslogan h1{
    font-size: 48px;
}
.Eslogan p{
    font-size: 28px;
}
form{
    display:flex;
    flex-wrap: wrap;

}
form input{
    flex-grow:2;
    
}
form button{

    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    border:none;
    background-color: #40a3a8;
    flex-grow: 1;
    border-radius: 8px;

}

.portada  {
    
    
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    

}
.portada img{
    width:100%;
    height: auto;
    
}



/* BLOG */

/* Catálogo */

.Blog {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:3em;
    

}

.Productos{
    
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.Productos h1{
    padding-bottom: 3em;
    color: #2c7478;
}
.tarjetero{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:3px;
    
    
    
}
.tarjeta{
    flex-grow: 1;
    border: solid 2px #40a3a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
    flex-wrap: wrap;
    
}
.tarjeta img{
    width:300px;
    height: 300px;
}
.tarjeta article h3{
    padding-bottom: 12px;
}
.tarjeta article p{
    text-align: justify;
}
.IrCatalogo{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border:none;
    background-color: #40a3a8;
    flex-grow: 1;
    border-radius: 8px;
    padding: 2px;
    margin-top: 2px;
}
.IrCatalogo a {
    color:white;
    text-decoration: none;
}

/* CATALOGO 2 */

.Revista{
    width: 100%;
    padding-top: 70px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Revista h1{
    color:#2c7478;
    padding: 1em;
}
.catalog {
    padding: 50px 0px 50px 0px;
    width: 75%;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));

    gap:8px 8px;
  }
  
  .product-card {
    border:2px solid #2c7478;
    background-color: #f0e2cf;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#2c7478;
  }
  
  .product-card:hover {
    transform: scale(1.02);
    z-index: 1;
  }
  
  .product-card img {
    width: 250px;
    height: 250px;
  }
  
  .description {
    background-color: #f0e2cf;
    padding: 5px;
    
  }

/* ADICIONALES- Valoraciones*/

.Adicionales{
    background-color: #e2c39a;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:2em;
}
.opiniones{
    display:flex;
    justify-content: center;
    padding: 2em;
    flex-wrap: wrap;
    

}
.Adicionales h1{
    padding-top: 2em;
}
.opiniones div{
    display:flex;
    width: 80%;
    gap:2px;
    
}
 .opiniones article{
    
    border:2px solid white;
    width: 200px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;

 }
 .opiniones article:hover{
    cursor: crosshair;
    width: 300px;
    opacity:1;
    filter: contrast(120%);

 }
 .opiniones article img{
    width: 100%;
 }
 .opiniones article p{
    padding: 24px 0px 4px 4px;
 }
